.gimmeRoom {
    margin-right: 30px;
}

.hungerMountain {
    background-image: url('/assets/images/hungerMountain.png');
}

.flatTop {
    padding-top: 0px;
}

.ion-content {
    background-color: transparent;
}

.makeWayLeft {
    padding-left: 20px !important;
}


